.gradle
build/

# Source code
#src/*

#Run files
#runclient
/run/saves
/run/screenshots
/run/logs
/run/debug
/run/crash-reports
options.txt
usercache.json
/run/usercache.json
saves
assets
logs
/assets/objects
/assets/indexes
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# IDE files
.idea
*.iml

#run/

out/